<div class="header-section dock-menu" id="header">
    <ul class="header-list">
        <li id="hamburger" class="e-icons e-menu"></li>
        <input type="text" placeholder="Search..." class="search-icon list">
        <li class="right-header list">
            <div class="horizontal-menu">
                <partial name="_LoginPartial" />
            </div>
        </li>
        <span class="right-messages">
        <li class="right-header list support"></li>
        <li class="right-header list tour"><i class="fa fas fa-envelope"></i></li>
        </span>

    </ul>
</div>
